<mat-card>
  
    <div class="container" id="localizacao">
      <mat-card-actions>
      <button mat-button><a class="material-icons">location_on</a></button>Av. Jose Cesar Junior 631<br>
    </mat-card-actions>
    </div>

    <div class="container" id="celular">
      <mat-card-actions>
      <button mat-button><a class="material-icons">call</a></button>(16) 9999-9999<br>
    </mat-card-actions>
    </div>
   
    <div class="container" id="email">
      <mat-card-actions>
      <button mat-button><a class="material-icons">email</a></button>example@gmail.com
    </mat-card-actions>
    </div>

    <div class="container" id="socialmedia">
      <mat-card-actions>
       <a class="material-icons">facebook</a>
       <a class="material-icons">explore</a>
       <a class="material-icons">whatshot</a>
    </mat-card-actions>
    </div>
    

   
  </mat-card>
  <br>
  
