<mat-card class="card">
    <mat-card-header class="mat-elevation-z4">
      <br><br><br><br>
      <mat-card-title class="nome">Projeto - Catalogo </mat-card-title>
      <mat-card-subtitle class="nome">Site de Vendas</mat-card-subtitle>
    </mat-card-header>
   
    <img mat-card-image src="assets" alt="Foto de Oferta">
    <mat-card-content>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus asperiores harum vel commodi! Similique dolorum vel, voluptatibus voluptates est harum cupiditate commodi exercitationem provident blanditiis? Beatae, dignissimos! Sapiente, ad veniam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur rem facilis distinctio, ad recusandae nihil cupiditate exercitationem inventore ex? Quos ducimus saepe tenetur ipsum sit quia atque asperiores unde! Dignissimos?
    </p>
    </mat-card-content>
    
  </mat-card>
  <app-tabela></app-tabela>
