<header>
   <app-nav></app-nav>
<div class="sidemenu">
   
    <ul>
        <a href="#"><li><i class="fa-solid fa-bars"></i></li></a>
    </ul>
    </div><!--sidemenu-->
    <div class="logo"> 
        <img src="Imagens/Sua logo.png" width="50px" alt="logotopo">
    </div><!--logo-->
    
    <div  class="barra_pesquisa"><!--barra_pesquisa-->
      <input type="text" class="boxpesquisa" name="" placeholder="Faça sua pesquisa...">
    </div><!--barra_pesquisa-->
    <div class="icones">
        <ul>
            <li><a href="#">Localização</a></li>
            <li><a href="#">Contatos</a></li>
            <li><a href="#">Entrar</a></li>
            <li><a href="#">Cadastrar</a></li>
            <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </div><!--icones-->
</header>





