<app-categorias></app-categorias>
<mat-card class="example-card">
    <mat-card-header>
      <div class="item">
        <mat-card-title class="titulo"><p>Teclado Mecânico</p></mat-card-title>
        <img class="imagens" mat-card-image src="assets/teclado.png">
        <mat-card-subtitle class="desc"><p>Tecaldo Mecânico RGB<br>Tamanho 80% Preto</p></mat-card-subtitle>
        
      </div>
      <div class="item">
        <mat-card-title class="titulo"><p>Monitor Gamer</p></mat-card-title>
        <img class="imagens" mat-card-image src="assets/monitor.png">
        <mat-card-subtitle class="desc"><p>Monitor Gamer 22'<br>144HZ - Com suporte - Preto</p></mat-card-subtitle>
      </div>
      <div class="item">
        <mat-card-title class="titulo"><p>Processador AMD</p></mat-card-title>
        <img class="imagens" mat-card-image src="assets/processador.png">
        <mat-card-subtitle class="desc"><p>Processador AMD Ryzen<br>6 Nucleos - 12 Threads</p></mat-card-subtitle>
        
      </div>
      <div class="item">
        <mat-card-title class="titulo"><p>Air Cooler</p></mat-card-title>
        <img class="imagens" mat-card-image src="assets/aircooler.png">
        <mat-card-subtitle class="desc"><p>Air Cooler para processador - 720RPM<br>RGB-com duas fasn 120mm</p></mat-card-subtitle>
        
      </div>
      <br>
      
    </mat-card-header>
  </mat-card>
  
  <mat-card class="example-card">
    <mat-card-header>
        <div class="item">
            <mat-card-title class="titulo"><p>Samsung Smartphone</p></mat-card-title>
            <img class="imagens" mat-card-image src="assets/celular.png">
            <mat-card-subtitle class="desc"><p>Celular-samsung-galaxy-a23<br>-5g-128gb-preto_505727</p></mat-card-subtitle>
            
          </div>
      <div class="item">
        <mat-card-title class="titulo"><p>Gabinete Gamer</p></mat-card-title>
        <img class="imagens" mat-card-image src="assets/gabinete.png">
        <mat-card-subtitle class="desc"><p>Gabinete Gamer para Desktop<br>3 fans RGB - Branco</p> </mat-card-subtitle>
      </div><div class="item">
        <mat-card-title class="titulo"><p>Fonte Gamer</p></mat-card-title>
        <img class="imagens" mat-card-image src="assets/fonte.png">
        
        <mat-card-subtitle class="desc"><p>Fonte KCas 500W<br>Preto - c/ Cabo de energia</p></mat-card-subtitle>
        
      </div>
      
      <div class="item">
        <mat-card-title class="titulo"><p>Mouse Gamer</p></mat-card-title>
        <img class="imagens" mat-card-image src="assets/mouse.png">
        <mat-card-subtitle class="desc"><p>Mouse Gamer HyperX Rgb<br>Preto - Com 6 Botões</p></mat-card-subtitle>
        
      </div>
      
      <br>
      
    </mat-card-header>
  </mat-card>


  
